.defaultPage {
    height: 100vh;
}
.footer {
    position: relative;
    flex-shrink: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
}
