.defaultPage {
    height: 100vh;
}
.footer {
    position: relative;
    flex-shrink: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: 50px;
    /* position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; */
}

.button {
    margin-left: 700px;
}

.footer2 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    background: Black;
    padding: .5em;
    color: white; 
}