.defaultPage {
    min-height: 100%;
    padding: 100;
}
.footer {
    position: relative;
    padding-top: 50px;
    bottom: 0;
    right: 0;
    left: 0;
}
.pageContent {
    min-height: 750;
    margin-left: 200;
}
